<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>DVM</string>
     <key>CFBundleIdentifier</key>
     <string>edu.vub.soft.DVM</string>
     <key>CFBundleVersion</key>
     <string>df6e496</string>
     <key>DocSetFeedName</key>
     <string>DVM</string>
     <key>DocSetPublisherIdentifier</key>
     <string>edu.vub.soft.mathsaey</string>
     <key>DocSetPublisherName</key>
     <string>Mathijs Saey</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
